.DS_Store
100west.txt
25_horses.ipynb
6.0001 L4.py
6.0001 L6.py
6.0001.py
StudentLoan_Sim.ipynb
Tuple Combinations.ipynb
Untitled-1.ipynb
extremum_and_saddle.py
hanoi.py
naive_add_matrix_and_vector
plus_k_stddev_proof.ipynb
scratch.py
test.py
tower of hanoi recursion diagram.pdf
word_frequency.py
__pycache__/